body {
    font-family: monospace;
}

li {
    list-style: none;
}

img {
    height: 250px;
}

header {
    background-color: #404146;
    color: white;
    display: flex;
    height: 90px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-size: 36px;
    letter-spacing: 10px;
    padding: 20px;
}

.header-list ul {
    display: flex;
}

.header-list li {
    padding: 30px;
    font-size: 22px;
}

.main {
    text-align: center;
}

.cover h1 {
    font-size: 140px;
    color: #404146;
}

.cover span {
    color: #F2D00F;
}

.cover h2 {
    font-size: 60px;
    font-weight: 100;
}

.about {
    background-color: #c8c6c6;
    padding: 40px;
}

.projects {
    padding: 40px;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-item {
    margin: 20px 70px;
}

.projects-item p {
    margin-top: 20px;
    font-size: 20px;
}

.contact-form {
    background-color: #c8c6c6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #dee7ec;
    border-radius: 8px;
    font-family: monospace;
    display: block;
}

.contact-submit {
    background-color: #F2D00F;
    margin-bottom: 10px;
    width: 200px;
}

footer {
    background-color: #7C7D81;
    color: white;
    height: 135px;
}

.footer-logo {
    font-size: 24px;
    letter-spacing: 5px;
    float: left;
    padding: 20px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding: 10px 20px;
}